<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRS</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <div class="logo-container">
        <img src="/static/images/logo.png" alt="Chatbot Logo" class="logo">
        <h1>Intelligent Text Response System</h1>
    </div>
    <br>
    <div class="chatbot-icon" id="chatbot-icon">
        <img src="/static/images/chatbot.jpg" alt="Chatbot Icon" style="width: 100%; height: 100%; border-radius: 50%;">
    </div>
    <div class="chatbot-container" id="chatbot-container"  style="display: none;">
        <div class="chatbot-header">
        <h2 style="text-align: center;">Welcome to Intelligent Text Response System</h2>
        </div>
        <div class="chatbot-messages">
            <div></div>
        </div>
        <div class="chat-response">
        <div class="chatbot-response">
            <div></div>
        </div>
        </div>
        <button class="speak-button" id="speak-button">
            <i class="fas fa-microphone"></i>
        </button>
    </div>

</body>
</html>
